.DS_Store
test/
.vscode/
.idea/

# LaTeX Render Outputs
*.aux
*.bbl
*.bcf
*.blg
*.fdb_latexmk
*.fls
*.log
*.out
*.run.xml
*.synctex.gz

# R files
.RData
.Rhistory

# Datasets
*.zip
*.xsd
# Sentinel-2 datasets are too large to be uploaded to GitHub
Sentinel-2/
