# Requirements.txt for COMP1801-ML Coursework - Specified with comments for clarity

pandas
numpy
matplotlib
seaborn
statsmodels

# Neural Network Libraries
scikeras         # Keras Wrapper for Scikit-Learn
tensorflow
tensorflow-macos  # Accelerated training on Apple Silicon
tensorflow-metal  # Accelerated training on Apple Silicon
keras-tuner

# Feature Crafting
kneed
imbalanced-learn  # For Imbalanced Learning

# Experimental Libraries
optuna
torch
ipywidgets