ipykernel  # This package is required for the kernel to be used in Jupyter notebooks.
numpy  # NumPy is a fundamental package for scientific computing in Python.
pandas  # Pandas is a library for data manipulation and analysis.
matplotlib  # Matplotlib is a plotting library for creating static, animated, and interactive visualizations in Python.
scikit-learn  # Scikit-learn is a machine learning library for Python.
