# Ignore all files
*

# But don't ignore these types of files
!*/
!*.c
!*.cpp
!*.css
!*.db
!*.h
!*.html
!*.java
!*.js
!*.md
!*.py
!*.sql
!*.ts
!*.txt
!*.md
!*.sh
!Makefile
!.gitignore

# But don't ignore report files
!*.tex
!*.pdf
!*.bib
!*.sty
!*.png

Test.*