# Requirements.txt for COMP1832-PF Project - Specified with comments for clarity

ipykernel  # Jupyter Notebook kernel for Python

# Data Visualization
matplotlib  # Library for creating static, interactive, and animated visualizations in Python
networkx  # Library for creating, manipulating, and studying complex networks
seaborn  # Statistical data visualization library based on matplotlib

# Environment Variables
python-dotenv  # Library for loading environment variables from a .env file
